[package]
name = "nevy"
version = "0.2.3"
edition = "2024"
categories = ["network-programming", "game-development"]
description = "QUIC implementation with quinn for the bevy game engine"
keywords = ["netcode", "networking", "bevy"]
license = "MIT OR Apache-2.0"
readme = "readme.md"
repository = "https://github.com/space-bandits/nevy"
documentation = "https://docs.rs/nevy"

[features]
default = ["headers", "messages"]
headers = []
messages = ["headers", "dep:serde", "dep:bincode"]

[dependencies]
bevy = { version = "0.17", default-features = false }
log = "0.4"
quinn-proto = { version = "0.11", features = ["rustls"] }
quinn-udp = "0.5"
bytes = "1.10"
thiserror = "2.0"

serde = { version = "1.0", optional = true }
bincode = { version = "2.0", features = ["serde"], optional = true }

[dev-dependencies]
rustls = { version = "0.23.5", default-features = false, features = ["std"] }
rcgen = "0.13.1"
bevy = { version = "0.17" }
